* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    margin: 1rem;;
    padding: 1rem;
    background-color: #fff;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card-image {
    width: 130px;
    height: 130px;
    background-color: #aaa;
    border-radius: 50%;
    margin: -80px auto 0.5rem;
    overflow: hidden;;
}

.card-title, .card-subtitle {
    text-align: center;
}

.card-subtitle {
    margin-bottom: 1rem;
}

.card-table {
    width: 100%;
}

.card-table .card-table-title {
    text-align: center;
    font-weight: bold;
}

.card-table tr td {
    padding: 0.5rem;
}

.text-center {
    text-align: center;
}