* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    margin: 1rem;;
    padding: 1rem;
    background-color: #fff;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card h2 {
    text-align: center;
    margin-bottom: 1rem
}

.card .input-number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card .input-number div {
    width: 100%;
}

.card .input-number div label {
    display: block;
    text-align: center;
}

.card .input-number div input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card .button-operation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card .button-operation button {
    padding: 0.5rem;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.card .result input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

.card input {
    text-align: center;
}